.header {
    position: fixed;
    top: 7px;
    left: 9px;
    right: 9px;
    background-color: #1d74d5; /*Fallback Support*/
    background-color: var(--mainColorRGBA-Opacity95);
    z-index: 50;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}
 
.header .logo {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.imageSort {
    position: fixed;
    top: 67px;
    z-index: 1000;
    left: 9px;
    right: 9px;
    line-height: 0;
    padding: 0 22px 10px 22px;
    border-radius: 0 0 20px 20px;
    background-color: #1d74d5; /*Fallback Support*/
    background-color: var(--mainColorRGBA-Opacity95);
    white-space: nowrap;
    /* overflow: scroll; */
}

.filterButton {
    position: fixed;
    right: 25px;
    top: 20px;
    font-size: 17px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background-color: #7fa7d4; /*Fallback Variable Support*/
    background-color: var(--lightAccentHex);
    z-index: 1000;
    cursor: pointer;
    color: #ffffff;
}

.filterButton:hover,
.filterButton.active {
    background-color: #ffffff;
    color: #1d74d5; /*Fallback Support*/
    color: var(--mainColorHex);
}

.sortMenu {
    position: fixed;
    z-index: 1000;
    padding: 15px 15px 0 15px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    max-width: 90%;
    width: 200px;
    transform: translate(-50%, -50%);
    background-color: #1d74d5; /*Fallback Support*/
    background-color: var(--mainColorRGBA-Opacity95);
    display: none;
}

.sortMenu.show {
    display: block;
}

.photoNav {
    border: none;
    background-color: transparent;
    color: #7fa7d4; /*Fallback Variable Support*/
    color: var(--lightAccentHex);
    padding: 0 8px 5px 8px;
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
    display: inline-block;
}

.sortButton {
    font-size: 17px;
    padding: 0 8px 15px 8px;
    display: block;
    margin: 0 auto;
}

.moreSort {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto
}

.moreSort .photoNav {
    display: block;
    padding: 9px 8px 6px 8px;
}

.featuredHeader {
    color: #ffffff;
    padding-bottom: 0;
    padding-top: 15px;
    cursor: default;
}

.imageSort .nav4, .imageSort .nav5, .imageSort .nav6, .imageSort .nav7, .imageSort .nav8, 
.imageSort .nav9, .imageSort .nav10, .imageSort .nav11, .imageSort .nav12, .imageSort .nav13, 
.imageSort .nav14, .imageSort .nav15, .imageSort .nav16, .imageSort .navAll,
.moreSort .nav1, .moreSort .nav2, .moreSort .nav3, 
.imageSort .navFeatured, .imageSort .featuredHeader {
    display: none;
}

.moreSort .nav4, .moreSort .nav5, .moreSort .nav6, .moreSort .nav7, .moreSort .nav8, 
.moreSort .nav9, .moreSort .nav10, .moreSort .nav11, .moreSort .nav12, 
.moreSort .nav13, .moreSort .nav14, .moreSort .nav15, .moreSort .nav16, .moreSort .navAll,
.moreSort .navFeatured, .moreSort .featuredHeader {
    display: block;
}

@media screen and (min-width: 400px) {.imageSort .nav4 {display: inline-block} .moreSort .nav4 {display: none;}}	
@media screen and (min-width: 525px) {.imageSort .nav5 {display: inline-block} .moreSort .nav5 {display: none;}}	
@media screen and (min-width: 600px) {.imageSort .nav6 {display: inline-block} .moreSort .nav6 {display: none;}}
@media screen and (min-width: 700px) {.imageSort .nav7 {display: inline-block} .moreSort .nav7 {display: none;}}
@media screen and (min-width: 800px) {.imageSort .nav8 {display: inline-block} .moreSort .nav8 {display: none;}}
@media screen and (min-width: 800px) {.imageSort .nav9 {display: inline-block} .moreSort .nav9 {display: none;}}

@media screen and (min-width: 405px) {

    .imageSort a.active {
        display: inline-block;
    }

    .moreSort .photoNav.active {
        display: none
    }

}

@media screen and (min-width: 900px) {

    .imageSort {
        top: 67px;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
    }

    .filterButton {
        display: none;
    }

    .sortMenu {
        position: static;
        transform: translate(0, 0);
        margin: 0 auto;
        display: block;
        background-color: transparent;
        padding: 0;
        width: auto;
    }

    .sortButton {
        display: inline-block;
        font-size: 14px;
        padding-bottom: 0;
    }

    .header {
        border-radius: 20px;
    }

}

/* @media screen and (min-width: 1400px) {

    .sortMenu {
        top: 15px;
        right: 9px;
        left: auto;
        bottom: auto;
        transform: none;
        width: auto;
        background-color: transparent;
        display: block;
    }

    .sortButton {
        display: inline-block;
    }
    
} */

@media screen and (min-width: 1700px) {

    .header {
        height: auto;
    }

    .imageSort{
        top: 28px;
        left: 9px;
        background-color: transparent;
        transform: none;
    }

    .sortMenu {
        position: fixed;
        top: 28px;
        right: 22px;
        left: auto;
        bottom: auto;
        transform: none;
        width: auto;
        background-color: transparent;
        display: block;
    }

    .sortButton {
        display: inline-block;
        font-size: 17px;
    }

}

.photoNav.active,
.photoNav:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.moreSort .photoNav.featuredSet {
    display: block;
    border-bottom: none;
}

.sortButton:hover,
.sortButton.active,
.moreSort .photoNav:hover,
.moreSort .photoNav.active {
    border-bottom: none;
}